---
import { Icon } from "astro-icon/components";

/**
	Uses https://www.astroicon.dev/getting-started/
	Find icons via guide: https://www.astroicon.dev/guides/customization/#open-source-icon-sets
	Only installed pack is: @iconify-json/mdi
*/
const socialLinks: {
	friendlyName: string;
	isWebmention?: boolean;
	link: string;
	name: string;
}[] = [
	{
		friendlyName: "Github",
		link: "https://github.com/florianbeisel",
		name: "mdi:github",
	},
	{
		friendlyName: "Mail",
		link: "mailto:florian@beisel.org",
		name: "mdi:email",
		isWebmention: true,
	},
	{
		friendlyName: "Twitter",
		link: "https://twitter.com/florianbeisel",
		name: "mdi:twitter",
	},
	{
		friendlyName: "Instagram",
		link: "https://www.instagram.com/paceydoestech/",
		name: "mdi:instagram",
	},
];
---

<div class="flex flex-wrap items-center gap-x-4 align-middle">
	<div class="flex-col items-center justify-center">You can find me on:</div>
	<div class="flex-col items-center justify-center">
		<ul class="not-prose flex flex-1 items-center gap-x-2 align-middle sm:flex-initial">
			{
				socialLinks.map(({ friendlyName, isWebmention, link, name }) => (
					<li class="flex items-center">
						<a
							class="inline-block align-middle sm:hover:text-link"
							href={link}
							rel={`noreferrer ${isWebmention ? "me authn" : ""}`}
							target="_blank"
						>
							<Icon aria-hidden="true" class="h-8 w-8" focusable="false" name={name} />
							<span class="sr-only">{friendlyName}</span>
						</a>
					</li>
				))
			}
		</ul>
	</div>
</div>
